language: node_js
node_js:
- '5.1'
before_script:
- npm install -g gulp
- npm install -g bower
- bower install
script: gulp build
before_deploy:
- ls -ltr
- ls -ltr dist
- pwd
deploy:
  provider: s3
  access_key_id: AKIAISLJYEUXSYMLLDYA
  secret_access_key:
    secure: DInk503RyXLZcgfxxJscY+ajjCEhew6aqQA9/+H1elsd5z+Uxg7z3ICghnxGwFJoyuaLj6pUcl/Qyp8ZEVGGurf4Ry40DDjNRn+PMcuZ+S+epSm6OYZp/2NhxoF+M3XQmZnppV5vR8P4emPUnNPkloJjVimb2BMeSPaP+S+8UxN770i6X5d4eo0CrOPax4S+Gdh3T6K0EltPLvAYlBA92vOACij1sReoJygE+wEdkE2z8gbe+QKkfnrffk5m7ecRwlJ5rG7DLi6jh9ZhTcU1WFDACnjoT4D3ajNPyFCwxw/x3r+OxuFeCK86NHiQ5P46GIWmrYIVqchzfruJh7u1QnH0Zk9YsUT9BAs2w4z9lJd8Mo5HiiaZ4eIJCqTn4PaiRa7N2lOrdwcv4LO0zniCsmv10rd3WKH2NZ6UfE0smCh2nB427eItOb1j+jCccoEWDcFlZsx51Vu4QTE9EVlVmYW5anZgQ3rIyOqp2hCYO7hsgOYgcpkjZS2aYOUNwqJmSW1puzYSWZuYLHyPGT1gP3+rHJLCqZpl2Q83suDwxYtzGrAVbqgiwbH186SJBq7q+4Vp7n2um6I2A5wWjxGtzAQp1ez7HlekW2/txdpq8AruEsA1Xaw6M0BgckkEcpCzN5IXJDx/nrHrC1YHTNGdpN0ZpfhZAAVapiazvnwpLtc=
  bucket: grand-performance
  local-dir: $TRAVIS_BUILD_DIR/dist/
  acl: public_read
  on:
    repo: pherris/gp-static
notifications:
  email:
    recipients:
    - aralston@gmail.com
    on_success: change
    on_failure: always
    branches:
      only:
      - master
      - develop
