<div class="fb-hours">
  <div class="row h6">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2 col-xs-4">
      Monday
      <br/>
      {{ page.hours.mon_1_open }}-{{ page.hours.mon_1_close }}
    </div>
    <div class="col-sm-2 col-xs-4">
      Tuesday
      <br/>
      {{ page.hours.tue_1_open }}-{{ page.hours.tue_1_close }}
    </div>
    <div class="col-sm-2 col-xs-4">
      Wednesday
      <br/>
      {{ page.hours.wed_1_open }}-{{ page.hours.wed_1_close }}
    </div>
    <div class="col-sm-2 col-xs-4">
      Thursday
      <br/>
      {{ page.hours.thu_1_open }}-{{ page.hours.thu_1_close }}
    </div>
    <div class="col-sm-2 col-xs-4">
      Friday
      <br/>
      {{ page.hours.fri_1_open }}-{{ page.hours.fri_1_close }}
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div class="row h6">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-2 col-xs-3">
      Saturday
      <br/>
      {{ page.hours.sat_1_open }}-{{ page.hours.sat_1_close }}
    </div>
    <div class="col-sm-2 col-xs-3">
      Sunday
      <br/>
      {{ page.hours.sun_1_open }}-{{ page.hours.sun_1_close }}
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>